/* exercise 04: Page Layout */

:root {
    --text-light: #ffffff;
    --text-dark: #000000;
    --header: #17072b;
    --sidebar: #172d67;
    --footer: #8c15e9;

    font-family: Arial;
    font-weight: 400;
}

header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--header);
    font-family: Tahoma;
    padding-block: 1rem;
    margin: 0;
}

header .title {
    color: var(--text-light);
    text-decoration: underline;
    margin-bottom: 0.5rem;
    align-items: center;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0;
    margin: 0;
}

nav > ul a {
    text-decoration: none;
    color: var(--text-light);
}

main {
    grid-column: 1 / 9;
    padding-inline: 1.5rem;
}

article h1,
article p {
    padding-inline: 1rem;
}

h1 {
    text-decoration: underline;
}

figure img {
    width: 100%;
}

figcaption {
    font-size: 0.9rem;
    color: var(--text-dark);
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh; /* 100% of viewport height */
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

aside {
    grid-column: 9 / -1;
    background-color: var(--sidebar);
    padding-inline: 2rem;
    margin-block: 2.5rem;
    color: var(--text-light);
}

aside ul {
    list-style-type: '- ';
    padding-left: 1.5rem;
}

.side-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
}

.side-images figure {
    margin: 0;
    padding: 0;
}

.side-images figure img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.side-images figcaption {
    font-size: 0.8rem;
    color: var(--text-light);
}

footer {
    grid-column: 1 / -1;
    background-color: var(--footer);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: auto;
}

