/* exercise 03: Images */

@font-face {
    font-family: 'Kathiega';
    src: url('./fonts/kathiega.regular.ttf');
}

body {
    font-family: 'Kathiega', serif;
    background-color: #f0f0f0;
    color: #222;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 4rem;
}

header p {
    font-size: 3rem;
    margin-bottom: 0.1rem;
    color: #555;
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
}

.image-card { /* polaroid-style cards for images */
    flex: 0 0 30%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    padding: 20px;
    margin: 3rem 1rem;
}

.sc_brent {
    width: 100%;
    height: auto;
    border-radius: 8px;

    transition: filter 0.3s ease;
}

.sc_brent:hover { /* minimal, individual hover filters for each image */
    filter: grayscale(20%) brightness(0.9);
}

.sc_may {
    width: 100%;
    height: auto;
    border-radius: 8px;

    transition: filter 0.3s ease;
}

.sc_may:hover {
    filter: brightness(1) contrast(1.2) saturate(1.3);
}

.sc_willy {
    width: 100%;
    height: auto;
    border-radius: 8px;

    transition: filter 0.3s ease;
}

.sc_willy:hover {
    filter: sepia(50%) contrast(1.5) brightness(1.1);
}

.image-card figcaption {
    margin-top: 10px;
    font-size: 2rem;
    color: #555;
}

footer {
  display: flex;
  background-color: #e1cdc8;
  font-size: 2rem;
  color: #ffffff;
  padding: 1rem;
  justify-content: center;
}